/* =====================================================================================================================
    VARS
======================================================================================================================*/
:root {
    --grid-color: #686868;
    --border-color: #acacac;
    --txt-color: #ececec;
    --highlight-color: #a8d153;
    --highlight2-color: #C3E88D;
}


@font-face {
    font-family: Mfont;
    src: url(fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Mfont;
    src: url(fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

/* =====================================================================================================================
    RESET
======================================================================================================================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}



input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: var(--border-color) 1px solid;;
}

/* =====================================================================================================================
    LAYOUT
======================================================================================================================*/

html, body, main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Mfont, Arial, sans-serif;
    font-size: 16px;
    color: var(--txt-color);
}

main {
    display: grid;
    grid-template-columns: 12rem 3fr 2fr;
    grid-template-rows: 2rem 60vh calc(40vh - 2rem);
    background-color: #444444;
}



header {
    grid-column-start: 1;
    grid-column-end: -1;
    border-bottom: var(--border-color) 1px solid;
}

nav, .side {
    padding: 10px;
}

nav {
    grid-row-start: 2;
    grid-row-end: -1;
    border-right: var(--border-color) 1px solid;
}

.stage {
    background-size: 25px 25px;
    background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    border-right: var(--border-color) 1px solid;
    padding: 25px;
}

.side {

}

.code {
    grid-column-start: 2;
    grid-column-end: -1;
    border-top: var(--border-color) 1px solid;;
}

code {
    color: var(--highlight-color);
}

/* =====================================================================================================================
    Text
======================================================================================================================*/
p {
    margin-bottom: 1rem;
}

/* =====================================================================================================================
    ANIMATIONS
======================================================================================================================*/
.el {
    width: 25px;
    height: 25px;
    background-color: var(--highlight-color);
    border: var(--grid-color) 1px solid;;
    position: relative;
}

/* =====================================================================================================================
    NAV
======================================================================================================================*/
.nav-item {
    cursor: pointer;
}
.nav-item:hover {
    color: var(--highlight2-color);
}

.selected {
    color: var(--highlight-color);
}









