/* =====================================================================================================================
    VARS
======================================================================================================================*/
:root {
    --bg-color: #373737;
    --grid-color: #4c4c4c;
    --border-color: #9c9c9c;
    --txt-color: #ececec;
    --highlight: #a8d153;
    --highlight2: #C3E88D;
    --highlight3: #e8e770;
    --highlight4: #f1be0e;

    --scrollbar-bg: #2d2d2d;
    --scrollbar-width: 10px;
    --thumb-bg: #6d6d6d;

    --test: rgba(255, 36, 252, 0.73);
}

/* =====================================================================================================================
    FONT
======================================================================================================================*/

@font-face {
    font-family: Title;
    src: url(fonts/MuseoModerno-ExtraLight.ttf);
    font-weight: normal;
}


@font-face {
    font-family: Mfont;
    src: url(fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Mfont;
    src: url(fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

/* =====================================================================================================================
    RESET
======================================================================================================================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: var(--border-color) 1px solid;;
}

/* =====================================================================================================================
    LAYOUT
======================================================================================================================*/

html, body, main {
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
    font-family: Mfont, Arial, sans-serif;
    font-size: 16px;
    color: var(--txt-color);
}

main {
    display: grid;
    grid-template-columns: 12rem 3fr 3fr;
    grid-template-rows: 3rem 60vh calc(40vh - 3rem);
    background-color: var(--bg-color);
}


header {
    grid-column-start: 1;
    grid-column-end: -1;
    border-bottom: var(--border-color) 1px solid;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

nav, .side {
    padding: 10px;
}

nav {
    grid-row-start: 2;
    grid-row-end: -1;
    border-right: var(--border-color) 1px solid;
    overflow-y: auto;
}

.stage, .css {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 25px;
}

.css {
    align-self: end;
    color: var(--border-color);
    font-size: .9rem;
    padding-bottom: 4px;
    pointer-events: none;
}

.stage {
    background-size: 25px 25px;
    background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    border-right: var(--border-color) 1px solid;
    color: var(--border-color);
}


.side {
    font-size: .9rem;
}

.code {
    grid-column-start: 2;
    grid-column-end: -1;
    border-top: var(--border-color) 1px solid;;
}

code {
    color: var(--highlight);
}

/* =====================================================================================================================
    SCROLLBARS
======================================================================================================================*/
*::-webkit-scrollbar {
    width: var(--scrollbar-width);
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--thumb-bg) var(--scrollbar-bg);
}
*::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--thumb-bg) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbar-bg);
}




/* =====================================================================================================================
    ELEMENTS
======================================================================================================================*/
p {
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.2rem;
    font-family: Title, sans-serif;
    color: var(--highlight);
}

h4 {
    font-weight: normal;
    /*color: #849cae;*/
    color: #787878;
    font-size: 1rem;
}

ul {
    padding: 1rem;
}

li {
    margin-bottom: .5rem;
}


/* =====================================================================================================================
    ANIMATIONS
======================================================================================================================*/
.el {
    width: 25px;
    height: 25px;
    background-color: var(--highlight);
    border: var(--grid-color) 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    font-size: .8rem;
}

svg {
    background-color: rgba(50, 100, 150, 0.2);
    width: 100%;
    height: 90%;
    padding:10px;
}

svg text {
    font-size: 2rem;
    fill: var(--border-color);
}

.highlight {
    color: var(--highlight3);
    font-weight: bold;
}


.stage-data {
    text-align: right;
    color: var(--border-color);
    line-height: 1.6;
}


/* =====================================================================================================================
    NAV
======================================================================================================================*/
.nav-item {
    cursor: pointer;
    border-left: 4px solid transparent;
    padding-left: 4px;
    line-height: .8;
    margin: .6rem 0;
}

.nav-item:hover {
    color: var(--highlight2);
}

.nav-section {
    margin-bottom: 1rem;
}

.selected {
    color: var(--highlight2);
    border-color: var(--highlight4);
}









